.wrapper {
  display: flex;
  padding: 50px 60px;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.balanceInfo {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.balance {
  padding: 50px;
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
}

.currency {
  padding: 50px;
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
}

.incomingTotal {
  padding: 50px;
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
  color: green;
}

.outgoingTotal {
  padding: 50px;
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
  color: red;
}

.recent {
  padding: 50px;
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 10px;
}

.tableData {
  text-align: center;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.recent td,
.recent th {
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.showMore {
  display: none;
}

.incoming {
  color: green;
}

.outgoing {
  color: red;
}
