.wrapper{
  display: flex;
  padding: 50px 60px;
  flex-direction: column;
  width: 100%;
}

.header{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.headerText{
  display: flex;
  flex-direction: column;
}

.table{
  background-color: white;
  border-radius: 15px;
  padding: 20px 40px;
}

